.landscape {
  @include responsive(D) {
    .global-header {
      .btn-mode {
        top: 2.4%;
      }
      .btn-menu {
        top: 3.4%;
      }
    }
    .content {
      padding-top: 80px;
      &-body {
        margin-top: 30px;
      }
    }
    .home {
      padding-top: 140px;
    }
    .about {
      &-article {
        margin-top: 120px;
      }
    }
    .portfolio {
      &-article {
        .img-wrapper {
          width: 30%;
        }
      }
    }
  }
}
